<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <link rel="icon" href="img/icone.ico" type="image/x-icon" />
<link rel="shortcut icon" href="img/icone.ico" type="image/x-icon" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>

  <body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Linux - Escolas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">


          <form action="/search" method="get" class="navbar-form navbar-right">
        <input type="text" name="query"  size="80" placeholder="Digite o nome da cidade" id="busca">  
          <button type="submit" ><span class="glyphicon glyphicon-search"></span></button> 
        </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
 
 
      </div>
    </div>

    <div class="container">
    
    <div class="bs-example" data-example-id="table-within-panel"> 
      <div class="panel panel-default"> 
        <div class="panel-heading"> 
        <h1></h1>
       
        
        <h2></h2>
        </div> 
          <div class="panel-body"> 
            <p>Informações Gerais: Aqui terá alguns dados da  escola como Numero de alunos, Professores ....  </p> 
            </div> 
              <table class="table"> 
                <thead> 
                  <tr> 
                      <th>Laboratório</th> 
                      <th>Computadores</th> 
                      <th>Sistema Operacional</th> 
                      </tr> 
                   </thead> 
                   <tbody> 
                    <tr> 
                      
                        <td>Sim</td> 
                        <td>20</td> 
                        <td><a href="#"> Linux Educacional</a></td>



                    </tr> 
                      
                      </tbody> 
                  </table> 
                 
              </div> 
          </div>
     <hr>
      <footer>
       <p>Localização </p>

       
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3754.6641871189736!2d-43.95323488508789!3d-19.769417186693897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa68f5b6d373279%3A0xdb2eb9dd0a769921!2sE.E.+Deputado+Renato+Azeredo!5e0!3m2!1spt-BR!2sbr!4v1496623723490" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        
              
          
           
        <p>XXX ainda não pensei no rodapé 
          </p>
          <a href="/"> Voltar </a>
      </footer>

      
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>