<!DOCTYPE html>
<html lang="en">
<head>
<title>Software Livre nas escolas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <link rel="icon" href="img/icone.ico" type="image/x-icon" />
<link rel="shortcut icon" href="img/icone.ico" type="image/x-icon" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Inclua todos os plugins compilados (abaixo), ou inclua um por um quando for necessário -->
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <center>
    	<div class="jumbotron text-center">

  <h1>Software Livre e Escolas de Minas Gerais</h1>

  <p>Objetivo do site é mostrar os investimentos do Governo do Estado de Minas Gerais em Softwares livres nas escolas públicas de ensino básico</p> 
</div>
  <div class="container text-center">
 	<h1>Cidade  </h1>
 		<form action="/search" method="get">
	    	<input type="text" name="query"  size="80" placeholder="Digite o nome da cidade" id="busca">  
    	  	<button type="submit" ><span class="glyphicon glyphicon-search"></span></button> 
      	</form>
      	
  </div>    
</div>

          
    </center>
  
</body>
</html>