<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="img/icone.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="img/icone.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Inclua todos os plugins compilados (abaixo), ou inclua um por um quando for necessário -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/table.js"></script>
    <link rel="stylesheet" href="stylesheets/table.css">


</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Linux - Escolas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
 <div id="navbar" class="navbar-collapse collapse">
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">In&iacute;cio</a></li>
               
              </ul>

        
       <form action="/search" method="get" class="navbar-form navbar-right">
        <input type="text" name="query"  size="80" placeholder="Digite o nome da cidade" id="busca">  
          <button type="submit" ><span class="glyphicon glyphicon-search"></span></button> 
        </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">


		<h1>Lista de Softwares Laboratórios de Informática</h1> 
        
      </div>
    </div>
    <hr>


<div class="container">
  <table class="table table-bordered">
   <tr class="header"><td colspan="2">Ferramentas de Produtividade</td></tr>
		<tr><td>LibreOffice 3.4</td></tr>
		<tr><td>Banco de Dados (Base)</td></tr>
		<tr><td>Editor de Apresentação (Impress)</td></tr>
		<tr><td>Editor de Desenho (Draw)</td></tr>
		<tr><td>Editor de Planilha (Calc)</td></tr>
		<tr><td>Editor de Texto (Writer)</td></tr>
		<tr><td>Gerência de Projetos (Planner)</td></tr>
		<tr><td>Recurso para anotações (Xournal)</td></tr>
		<tr><td>Visualizador de Arquivos PDF (Okular)	</td></tr>
    
    <tr class="header">
        <td colspan="2">Gráficos</td></tr>
	    <tr><td>Editor de Imagens (GIMP)</td></tr> 
	    <tr><td>Editor de Imagens Vetoriais (Inkscape)</td></tr>
		<tr><td>Editor de PDF (PDF Editor)</td></tr>
		<tr><td>Gerenciador de Fotos (digikam)</td></tr>
		<tr><td>Manipulador de Animações (Muan)</td></tr>
		<tr><td>Programa de Captura de Tela (Ksnapshot)</td></tr>
		<tr><td>Programa de Pintura (KolourPaint)</td></tr>
		<tr><td>Visualizador de Imagens (Gwenview)</td></tr>

   
	
    <tr class="header"><td colspan="2">Internet</td></tr>
		<tr><td>MSN Messenger para Linux (aMSN)</td></tr>	
		<tr><td>Navegador Web (Mozila Firefox)</td></tr>	
		<tr><td>Navegador Web (Konqueror)</td></tr>	
			    

    <tr class="header"><td colspan="2">Educacionais</td></tr>
    	<tr><td>Edubar (acesso direto aos Conteúdos Educacionais e portais do MEC)</td></tr>
    	<tr><td>FBEdu (Buscar Conteúdos Educacionais)</td></tr>
    
    <tr class="header"><td>Multimídia</td></tr> 
	  	<tr><td>Editor de Áudio (Audacity)</td></tr>
	    <tr><td>Editor de Vídeo (Avidemux)</td></tr>
	    <tr><td>Editor de Vídeo (Kdenlive)</td></tr>
	    <tr><td>Editor de Vídeo (Kino)</td></tr>
	    <tr><td>Extrair DVD (AcidRip DVD Ripper)</td></tr>
	    <tr><td>Gravação de CD/DVD (K3b)</td></tr>
	    <tr><td>Mixagem de Som (Kmix)</td></tr>
	    <tr><td>Multimedia Converter</td></tr>
	    <tr><td>Reprodutor de Áudio (Amarok)</td></tr>
	    <tr><td>Reprodutor Multimídia (VLC media player)</td></tr>
	    <tr><td>Wecam (XawTV)</td></tr>
		
	<tr class="header"><td colspan="2">Ferramentas Adicionais</td></tr>
		<tr><td>Aprender o Alfabeto (Klettres)</td></tr>
		<tr><td>Calculadora Gráfica (Kalgebra)</td></tr>
		<tr><td>Desenho (Tux Paint)</td></tr>
		<tr><td>Desenho de funções matemáticas (KmPlot)</td></tr>
		<tr><td>Exercícios com frações (Kbruch)</td></tr>
		<tr><td>Ferramenta de Referência/Estudo do Japonês (Kiten)</td></tr>
		<tr><td>Geometria Dinâmica (GeoGebra)</td></tr>
		<tr><td>Geometria Interativa (Kig)</td></tr>
		<tr><td>Globo na área de trabalho (Marble)</td></tr>
		<tr><td>Jogo da Forca (KHangMan)</td></tr>
		<tr><td>Jogo de Ordenação de Letras (Kanagram)</td></tr>
		<tr><td>Jogo Simon Diz (Blinken)</td></tr>
		<tr><td>Linguagem de Programação (Squeak)</td></tr>
		<tr><td>Linguagem Logo (Kturtle)</td></tr>
		<tr><td>Planetário Virtual (Kstarts)</td></tr>
		<tr><td>Série Educacional (Gcompris)</td></tr>
		<tr><td>Simulador físico interativo (Step)</td></tr>
		<tr><td>Software matemático (Cantor)</td></tr>
		<tr><td>Tabela Periódica dos Elementos (Kalzium)</td></tr>
		<tr><td>Teoria dos Grafos de Rocs</td></tr>
		<tr><td>Treinador de Vocabulário (KwordQuiz)</td></tr>
		<tr><td>Treinador de Vocabulário (Parley)</td></tr>
		<tr><td>Treinamento em Geografia (Kgeography)</td></tr>

	<tr class="header" colspan="2" ><td>Sistema</td></tr>  
		<tr><td>Adicionar e Remover Programas (Adept)</td></tr> 
		<tr><td>Kbluetooth</td></tr>
		<tr><td>Editor de Partição (GParted)</td></tr>
		<tr><td>Ferramenta de Backup (APTonCD)</td></tr>
		<tr><td>Gerenciador de Arquivos (Modo Super Usuário)</td></tr>
		<tr><td>Gerenciador de Impressão (tarefas de Impressão)</td></tr>
		<tr><td>Gerenciador de Usuários (Kuser)</td></tr>
		<tr><td>Gerenciar Processos (KsysGuard)</td></tr>
		<tr><td>Visualizador de Logs do sistema (KsystemLog)</td></tr>







   </table>
</div>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
      
</body>

</html>